.body{
    font-size: 16px;
}

.logoContainer {
    height: 100vh;
    width: 100vw;


    background-color: black;
    text-align: center;
    .owlLogoImage{
        max-width:100%;
        max-height:100%;
    }
}

.contactContainer {

    height: 480px;
    background-color: #E4E4E4;
    display: flex;
    flex-direction: column;

    .contentContainer{

        height: 220px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .titleContainer{

            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Caladea', serif;
            font-size: 34px;
        }

        .textContainer{
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .firstParagraphText{
                height: 20px;
                width: 290px;
                text-align: center;
                font-family: 'Caladea', serif;
            }
            
            .secondParagraphText{
                height: 65px;
                width: 290px;
                text-align: justify;
                font-family: 'Caladea', serif;
            }

        }
    }

    .profileImageContainer{
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;

        .profileImage{
            background-image: url('../assets/contactPhoto.jpg');
            background-size: cover;
            background-position: center center;
            height: 180px;
            width: 180px;
            border-radius: 50%;
        }
    }

}

@media (min-width: 640px){
    .contactContainer {
        height: 670px;

        .contentContainer{
            height: 240px;

            .titleContainer{
                height: 120px;
                font-size: 42px;    
            }
    
            .textContainer{
                height: 120px;
                font-size: 24px;

                .firstParagraphText{
                    width: 580px;
                }

                .secondParagraphText{
                    width: 580px;
                }
            }
        }

        .profileImageContainer{
            height: 430px;

            .profileImage{
                height: 340px;
                width: 340px;
            }

        }
    }

}

@media (min-width: 1025px){
    .contactContainer {
        height: 380px;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;

        .contentContainer{
            height: 250px;
            width: 625px;

            .titleContainer{
                height: 40px;
                font-size: 50px;
                margin-bottom: 40px;  
            }
    
            .textContainer{
                height: 120px;
                font-size: 24px;

                .firstParagraphText{
                    width: 580px;
                }

                .secondParagraphText{
                    width: 580px;
                }
            }
        }

        .profileImageContainer{
            height: 250px;
            width: 400px;

            .profileImage{
                height: 250px;
                width: 250px;
            }

        }

    }
}


//Todo work on social media

.socialMediaLogoContainer{
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;

    .socialMediaLogo{

        background-size: cover;
        background-position: center center;
        height: 32px;
        width: 32px;
        margin: 4px 12px;
    
    }

    .twitterLogo{
        background-image: url('../assets/twitterLogo.png');
    }
    .facebookLogo{
        background-image: url('../assets/facebookLogo.png');
    }
    
    .gitHubLogo{
        background-image: url('../assets/gitHubLogo.png');
    
    
    }
    .instagramLogo{
        background-image: url('../assets/instagramLogo.png');
    
    
    }
    
    .linkedInLogo{
        background-image: url('../assets/linkedInLogo.png');
    }
    
    .gmailLogo{
        background-image: url('../assets/gmailLogo.png');
    }
    

}

@media (min-width: 640px){
    .socialMediaLogoContainer{
        height: 66px;

        .socialMediaLogo{

            height: 50px;
            width: 50px;
            margin: 8px 20px;
        }

    }
}

@media (min-width: 1025px){
    .socialMediaLogoContainer{
        height: 46px;

        .socialMediaLogo{

            height: 40px;
            width: 40px;
            margin: 3px 20px;
        }

    }
}

.hidden{
    display: none;
}