<div class="logoContainer">
  <img class="owlLogoImage" src="assets/sbcowl.png" alt="John Doe">
</div>

<div class="aboutMeContainer">




  <div class="photoContainer">
    
    <div class="profileMainPhoto"></div>

    <!--
    <img class="profilePhotoTest" src="assets/profilePhoto.png" alt="Profile photo">
     -->

  </div>

  <div class="rightContainer">
    <div class="textContainer">

      <div class="firstParagraphText">
        Hola, me llamo
      </div>
      <div class="nameText">
        <strong>SEBASTIAN BUITRAGO</strong>
      </div>
      <div class="secondParagraphText">
        Soy un apasionado del desarrollo de software y las tecnologias, amante de videojuegos y aprendiz continuo de la lógica.
      </div>
    </div>

    <div class="buttonContainer">
      <button class="button3">Saber mas</button>
    </div>
  </div>

</div>

<div class="experienceContainer">
  <div class="title">
    Experiencia
  </div>
  <div class="banner">

    <div class="experienceContainer">
      <img class="experienceImage" src="assets/talosLogo.jpg" alt="John Doe">
    </div>
    
    <div class="experienceContainer">
      <img class="experienceImage" src="assets/heinsohnLogo.png" alt="John Doe">
    </div>

  </div>
</div>

<div class="contactContainer">
  <div class="titleContainer">
    <strong>Contacto</strong>
  </div>

  <div class="contentContainer">
    <div class="profileImageContainer">
      <div class="profileImage"></div>

      <!-- 
        <img class="profileImage" src="assets/contactPhoto.jpg" alt="Contact photo">
      -->
    </div>
    <div class="textContainer">
      <div class="firstParagraphText">
        !! Gracias por llegar hasta aca !!!
      </div>
      <div class="secondParagraphText">
        Si deseas colaborar con una idea increible o simplemente quieres compartir un buen cafe, no dudes en contactarme.
      </div>
    </div>
  </div>

  <div class="socialMediaLogoContainer">
    <div class="twitterLogoContainer">
      
    </div>
    <div class="twitterLogoContainer">
      
    </div>
    <div class="twitterLogoContainer">
      
    </div>
    <div class="twitterLogoContainer">
      
    </div>
    <div class="twitterLogoContainer">
      
    </div>
    <div class="twitterLogoContainer">
      
    </div>
  </div>

</div>
