<div class="logoContainer">
  <img class="owlLogoImage" src="assets/sbcowl.png" alt="John Doe">
</div>

<div class="aboutMeContainer">

  <div class="rightContainer">
    <div class="textContainer">
      <p id="observerTest" class="firstParagraphText hidden">Hola, me llamo</p>
      <p class="nameText"> <strong>SEBASTIAN BUITRAGO</strong></p>
      <p class="secondParagraphText">Soy un apasionado del desarrollo de software y las tecnologias, amante de videojuegos y aprendiz continuo de la lógica.</p>
    </div>

    <div class="buttonContainer">
      <button class="button3">Saber mas</button>
    </div>
  </div>

  <div class="photoContainer">
    <div class="profileMainPhoto"></div>
  </div>

</div>

<div class="experienceContainer">

  <p class="title">Experiencia</p>
  <div class="banner">

    <div class="experienceContainer">
      <div class="experienceImage talos">
      </div>
    </div>
    
    <div class="experienceContainer">
      <div class="experienceImage heinsohn">
      </div>
    </div>

  </div>
</div>

<div class="contactContainer">

  <div class="contentContainer">
    
    <div class="titleContainer">
      <strong>Contacto</strong>
    </div>

    <div class="textContainer">
      <p class="firstParagraphText">
        !! Gracias por llegar hasta aca !!!
      </p>
      <p class="secondParagraphText">
        Si deseas colaborar con una idea increible o simplemente quieres compartir un buen cafe, no dudes en contactarme.
      </p>
    </div>
  </div>

  <div class="profileImageContainer">
    <div class="profileImage"></div>
  </div>

</div>

<div class="socialMediaLogoContainer">
  <div class="socialMediaLogo twitterLogo">
    
  </div>
  <div class="socialMediaLogo facebookLogo">
    
  </div>
  <div class="socialMediaLogo gitHubLogo">
    
  </div>
  <div class="socialMediaLogo instagramLogo">
    
  </div>
  <div class="socialMediaLogo linkedInLogo">
    
  </div>
  <div class="socialMediaLogo gmailLogo">
    
  </div>
</div>
