.body{
    font-size: 16px;
}

.logoContainer {
    height: 100vh;
    width: 100vw;


    background-color: black;
    text-align: center;
    .owlLogoImage{
        max-width:100%;
        max-height:100%;
    }
}

.aboutMeContainer {
    height: 640px;
    width: 100vw;
    background-color: #E4E4E4;
    display: flex;
    flex-direction: column;

    .photoContainer{
        height: 340px;
        display: flex;
        justify-content: center;

        .profileMainPhoto{
            width: 235px;
            background-image: url('../assets/profilePhoto.png');
            background-size: contain;
            background-repeat: no-repeat; 
            background-position: center bottom;
        }
        
    }

    .rightContainer{
        height: 300px;

        .textContainer{
            height: 180px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .firstParagraphText{
                text-align: center;
                height: 55px;
                font-family: 'Caladea', serif;
            }

            .nameText{
                text-align: center;
                height: 70px;
                font-size: 22px;
                font-family: 'Bree Serif', serif;
            }
            .secondParagraphText{
                width: 290px;
                height: 55px;
                text-align: justify;
                font-family: 'Caladea', serif;
            }

        }

        .buttonContainer{
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;

            .button3{
                text-align:center;
                transition: all 0.5s;
                background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(196,196,196,1) 100%);
                border: 2px solid black;
                font-family: 'Caladea', serif;
                font-size: 16px;
                width: 100px;
                height: 42px;
            
                &:hover{
                    color:white;
                    background: black;
                }
            
            }
        }

    }

}



@media (min-width: 640px){

    .aboutMeContainer {
        height: 1024px;

        .photoContainer{
            height: 540px;
    
            .profileMainPhoto{
                width: 370px;
            }
            
        }


        .rightContainer{
            height: 484px;

            .textContainer{
                height: 284px;

                .firstParagraphText
                {
                    font-size: 24px;
                    height: 92px;
                }
    
                .nameText{
                    height: 100px;
                    font-size: 32px;
                }
                .secondParagraphText{
                    font-size: 24px;
                    width: 500px;
                    height: 92px;
                }

            }
            .buttonContainer{
                height: 200px;

                .button3{
                    border: 2px solid black;
                    font-size: 24px;
                    width: 214px;
                    height: 68px;
                }

            }
        }
    }

}







.experienceContainer {
    height: 640px;
    background-color: black;
    display: flex;
    flex-direction: column;

    .title{
        display: flex;
        height: 10%;
        justify-content: center;
        color: white;
        font-family: 'Caladea', serif;
        font-size: 34px;
        align-items: center;
    }

    .banner{
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .experienceContainer{
            height: 50%;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            .experienceImage{
                margin: 10px;
                height: 250px;
                width: 250px;
                background-size: contain;
                background-repeat: no-repeat; 
                background-position: center bottom;

                &.talos{
                    background-image: url('../assets/talosLogo.jpg');
                }

                &.heinsohn{
                    background-image: url('../assets/heinsohnLogo.png');
                }
               
            }
        }

    }
}

@media (min-width: 640px){
    .experienceContainer {
        height: 1024px;

        .title{
            height: 184px;         
            font-size: 42px;
        }

        .banner{
            height: 840px;
            
            .experienceContainer{
                height: 50%;
                width: 100%;
                .experienceImage{
                    margin: 10px;
                    height: 450px;
                    width: 450px;
                }
            }


        }

    }

}

.contactContainer {

    background-color: #E4E4E4;
    display: flex;
    flex-direction: column;

    .titleContainer{
        margin: 25px 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Caladea', serif;
        font-size: 34px;

    }

    .contentContainer{
        width: 100%;
        display: flex;
        flex-direction: column;

        .textContainer{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .firstParagraphText{
                width: 290px;
                margin: 25px 0px;
                text-align: center;
                font-family: 'Caladea', serif;
            }
            
            .secondParagraphText{
                width: 290px;
                margin: 25px 0px;
                text-align: justify;
                font-family: 'Caladea', serif;
            }


        }

        .profileImageContainer{
            margin: 25px 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            .profileImage{
                background-image: url('../assets/contactPhoto.jpg');
                background-size: cover;
                background-position: center center;
                height: 180px;
                width: 180px;
                border-radius: 50%;
            }

        }

    }

}

@media (min-width: 640px){
    .contactContainer {
        height: 815px;

        .titleContainer{
            height: 130px;
            font-size: 42px;    
        }


        .contentContainer{
            height: 685px;
    
            .textContainer{
                height: 195px;
                font-size: 24px;

                .firstParagraphText{
                    width: 580px;
                    margin: 25px 0px;
                }

                .secondParagraphText{
                    width: 580px;
                    margin: 25px 0px;
                }
    
    
            }
    
            .profileImageContainer{
                height: 490px;

                .profileImage{
                    height: 380px;
                    width: 380px;
                }
    
            }
    
        }

    }
}


.socialMediaLogoContainer{
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;

    .socialMediaLogo{

        background-size: cover;
        background-position: center center;
        height: 32px;
        width: 32px;
        margin: 4px 12px;
    
    }

    .twitterLogo{
        background-image: url('../assets/twitterLogo.png');
    }
    .facebookLogo{
        background-image: url('../assets/facebookLogo.png');
    }
    
    .gitHubLogo{
        background-image: url('../assets/gitHubLogo.png');
    
    
    }
    .instagramLogo{
        background-image: url('../assets/instagramLogo.png');
    
    
    }
    
    .linkedInLogo{
        background-image: url('../assets/linkedInLogo.png');
    }
    
    .gmailLogo{
        background-image: url('../assets/gmailLogo.png');
    }
    

}

@media (min-width: 640px){
    .socialMediaLogoContainer{
        height: 76px;

        .socialMediaLogo{

            height: 60px;
            width: 60px;
            margin: 8px 20px;
        }

    }
}


@media (min-width: 1025px){

    .body{
        font-size: 32px;
    }
}