<div [ngClass]="['experience-details-container', experienceToDisplay === 'TALOS' ? 'talos' : 'heinsohn']">
    <div class="experience-details-close-container">
        <span (click)="close()" class="experience-details-close-button material-icons">cancel</span>
    </div>

    <div class="experience-details-logo-container">
        <div [ngClass]="['experience-details-logo', experienceToDisplay === 'TALOS' ? 'talos' : 'heinsohn']">
        </div>
    </div>

    <div class="experience-details-description">
        <p class="experience-details-description-main">
            {{mainDescription}}
        </p>

        <p>{{projectsDescription}}</p>

        <ul *ngFor="let project of projects">
            <li>{{project}}</li>
        </ul>

        <p>{{timeDescription}}</p>

    </div>

    <div class="experience-details-decorator">

        <div class="experience-details-decorator-line">
        </div>

        <div class="experience-details-decorator-logo">
            <span class="material-icons">star</span>
        </div>

        <div class="experience-details-decorator-line">
        </div>

    </div>

</div>