<div class="experience-details-container">
    <div class="experience-details-close-container">
        <span (click)="close()" class="experience-details-close-button material-icons">cancel</span>
    </div>

    <div class="experience-details-logo talos">
    </div>

    <div class="experience-details-description">
        <p class="experience-details-description-main">
            He trabajado con SAP Commerce la cual es una plataforma de comercio electronico para grandes
            empresas, dicha plataforma usa para el backend el lenguaje Java y Spring como framework, por el lado del
            front hace uso de un framework llamado spartacus que esta soportado sobre Angular Framework.
        </p>

        <p>Proyectos en los cuales trabaje:</p>

        <ul>
            <li>Nikon</li>
            <li>HillRoom</li>
            <li>Barnes and Noble</li>
        </ul>

        <p>Tiempo en la empresa : 2 años</p>

    </div>

    <div class="experience-details-decorator">

        <hr>
              <span class="material-icons">star</span>
        <hr>

    </div>

</div>