<div class="experienceContainer">

  <!-- Talos Experience -->
  <div
    [ngClass]="['talosExperienceContainer', talosExperienceIsDisplayed ? 'displayContentAnimated' : 'hideContentAnimated']">
    <app-experience-details (newItemEvent)="addItem($event)"></app-experience-details>
  </div>


  <p class="title">Experiencia</p>
  <div class="banner">

    <div class="experienceContainer">
      <div (click)="displayTalosExperience()" class="experienceImage talos">
      </div>
    </div>

    <div class="experienceContainer">
      <div class="experienceImage heinsohn">
      </div>
    </div>

  </div>
</div>

<!-- Heinsohn Experience -->