<div class="experienceContainer">

        <!-- Talos Experience -->
    

         <!--  <div [ngClass]="['talosExperienceContainer', talosExperienceIsDisplayed ? 'displayContentAnimated' : 'hideContentAnimated']">
        <a>
            <i (click)="hideTalosExperience()" class="material-icons">close</i>
        </a>
    </div> -->

    <div [ngClass]="['talosExperienceContainer']">

     

      <div class="logoContainer">
        <a>
          <i (click)="hideTalosExperience()" class="material-icons">close</i>
      </a>

      </div>

      <div class="textContainer">

      </div>

  



  </div>
   

    <p class="title">Experiencia</p>
    <div class="banner">
  
      <div class="experienceContainer">
        <div (click)="displayTalosExperience()" class="experienceImage talos">
        </div>
      </div>
      
      <div class="experienceContainer">
        <div class="experienceImage heinsohn">
        </div>
      </div>
  
    </div>
  </div>
  
  <!-- Heinsohn Experience -->

