<div class="experienceContainer">

  <!-- Talos Experience detailed -->
  <div
    [ngClass]="['talosExperienceContainer', talosExperienceIsDisplayed ? 'displayContentAnimated' : 'hideContentAnimated']">
    <app-experience-details [experienceToDisplay]="talosConstant" (displayTalosExperienceEvent)="displayTalosExperience($event)"></app-experience-details>
  </div>

  <!-- Talos Experience detailed -->
  <div
    [ngClass]="['talosExperienceContainer', heinsohnExperienceIsDisplayed ? 'displayContentAnimated' : 'hideContentAnimated']">
    <app-experience-details [experienceToDisplay]="heinsohnConstant" (displayHeinsohnExperienceEvent)="displayHeinsohnExperience($event)"></app-experience-details>
  </div>

  <p class="title">Experiencia</p>

  <div class="banner">

    <div class="experienceContainer">
      <div (click)="displayTalosExperience(true)" class="experienceImage talos">
      </div>
    </div>

    <div class="experienceContainer">
      <div (click)="displayHeinsohnExperience(true)" class="experienceImage heinsohn">
      </div>
    </div>

  </div>
</div>